body{
    background:#f5f7fa;
    font-family:"Segoe UI",sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.bank-form{

    width:500px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:
    0 5px 20px rgba(0,0,0,.08);

}

.bank-form h1{
    text-align:center;
    color:#003087;
    margin-bottom:25px;
}

.bank-form input{

    width:100%;

    padding:14px;

    margin-bottom:15px;

    border:1px solid #ddd;

    border-radius:10px;

}

.bank-form button{

    width:100%;

    padding:15px;

    background:#0070E0;

    color:white;

    border:none;

    border-radius:30px;

    cursor:pointer;

}