body{
    background:#f5f7fa;
    font-family:Arial,sans-serif;
}

.profile-container{
    display:flex;
    justify-content:center;
    padding:50px;
}

.profile-card{
    background:white;
    width:500px;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.avatar{
    width:100px;
    height:100px;
    margin:auto;
    background:#003087;
    color:white;
    font-size:40px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profile-card h2{
    margin-top:20px;
}

.profile-info{
    text-align:left;
    margin-top:20px;
}

.profile-info p{
    margin-bottom:15px;
}

.edit-btn{
    background:#0070E0;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:25px;
    cursor:pointer;
}