*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

:root{
    --primary:#003087;
    --secondary:#0070E0;
    --dark:#1c2331;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        135deg,
        #001f5c,
        #003087
    );
}

.login-card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.2);

}

.logo{

    text-align:center;

    margin-bottom:25px;

}

.logo i{

    font-size:50px;

    color:var(--primary);

    margin-bottom:10px;

}

.logo h1{

    color:var(--primary);

}

h2{

    text-align:center;

    margin-bottom:10px;

}

p{

    text-align:center;

    color:#666;

    margin-bottom:25px;

}

.input-group{

    margin-bottom:20px;

}

.input-group label{

    display:block;

    margin-bottom:8px;

    font-weight:600;

}

.input-group input{

    width:100%;

    padding:14px;

    border:1px solid #ddd;

    border-radius:10px;

    outline:none;

}

.input-group input:focus{

    border-color:var(--secondary);

}

button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:30px;

    background:var(--primary);

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:var(--secondary);

}

.back-home{

    display:block;

    text-align:center;

    margin-top:20px;

    text-decoration:none;

    color:var(--primary);

}