*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    background:#f5f7fa;
}

.sidebar{
    width:250px;
    height:100vh;
    background:#003087;
    color:white;
    position:fixed;
}

.logo{
    text-align:center;
    padding:25px;
    font-size:24px;
    font-weight:bold;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:18px 25px;
}

.sidebar ul li a{
    color:white;
    text-decoration:none;
}

.sidebar .active{
    background:#0070E0;
}

.main-content{
    margin-left:250px;
    width:100%;
    padding:30px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.card h2{
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#003087;
    color:white;
    padding:15px;
}

td{
    padding:15px;
    border-bottom:1px solid #eee;
}

.pending{
    color:orange;
    font-weight:bold;
}

.view-btn{
    background:#0070E0;
    color:white;
    text-decoration:none;
    padding:8px 15px;
    border-radius:20px;
}